#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.guessesBlock {
  filter: drop-shadow(0 0 2em #646cffaa);
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: xxx-large;
  font-family: fantasy;
  font-weight: 500;
}
.blocked{
  /*background: white;
  width: 1em;*/
}